table {
  width: 100%;
  border-collapse: collapse;
  background: white;
  border-radius: 8px;
  overflow: hidden;
}

th,
td {
  padding: 12px;
  text-align: right;
  border-bottom: 1px solid #eee;

  button {
    color: #fff;
    text-align: start;
    width: 5rem;
    background-color: #2e2e2e;
    border: none;
    border-radius: 4px;
    padding: 0.5rem 1rem;
    cursor: pointer;

    &:hover {
      background-color: darken(#000, 10%);
    }
  }
}

th {
  background: #f8f9fa;
  font-weight: bold;
  color: #333;
}

tr:hover {
  background: #f8f9fa;
}

.accepted {
  color: #28a745;
  background-color: #00CC6733;
  border: 1px solid #28a745;
  padding: 0.2rem 1rem;
  border-radius: 0.5rem;
  ;
}

.rejected {
  color: #dc3545;
  background-color: #F1270538;
  border: 1px solid #dc3545;
  padding: 0.2rem 1rem;
  border-radius: 0.5rem;
}
