.sidebar {
  background: linear-gradient(to right, #000, #262626);
  color: white;
  width: 220px;
  height: 100vh;
  padding: 1rem;
  direction: rtl;

  .logoContainer {
    padding: 1.5rem 0;
  }

  .divider {
    border: 1px solid #2D2F39;
    // height: 1px;
    margin: 0.7rem 0;
  }

  .section {

    .active {
      background: #fff;
      color: #000;
      border-radius: 0.5rem;
      padding: -1rem;
    }

    h4 {
      color: #FAFBFA;

    }

    a {
      color: rgba(255, 255, 255, 0.5);
      text-decoration: none;
      display: block;
      padding: 0.4rem 1rem;
      margin: 0.1rem 0;
    }
  }

  .last-section {
    margin-top: auto;
    padding-top: 10px;
    position: absolute;
    bottom: 1rem;

    .divider {
      border: none;
      height: 1px;
      background-color: rgba(255, 255, 255, 0.2);
      margin-bottom: 10px;
    }

    .last-section-content {
      display: flex;
      align-items: center;
      gap: 10px;
      font-size: 0.75rem;

      .profile-box {
        width: 40px;
        height: 40px;
        background-color: rgba(255, 255, 255, 0.1);
        border-radius: 10px;
        display: flex;
        align-items: center;
        justify-content: center;

        i {
          font-size: 18px;
          color: #fff;
        }
      }

      .user-info {
        display: flex;
        flex-direction: column;
        line-height: 1.2;

        .name {
          font-size: 14px;
          color: #fff;
          font-size: 0.75rem;
          margin-bottom: 0.1rem;
        }

        .role {
          font-size: 12px;
          background-color: rgba(255, 255, 255, 0.15);
          padding: 2px 6px;
          border-radius: 6px;
          color: rgba(255, 255, 255, 0.8);
          width: fit-content;
        }
      }

      .logout {
        margin-left: auto;
        display: flex;
        align-items: center;
        gap: 5px;
        color: rgba(255, 255, 255, 0.7);
        cursor: pointer;
        transition: color 0.3s;

        i {
          font-size: 16px;
        }

        &:hover {
          color: #fff;
        }
      }
    }
  }


}
