<div class="sidebar">
  <div class="logoContainer">
    <img src="assets/logo.png" alt="Logo">
  </div>

  <hr class="divider" />

  <div class="section">
    <h4>الرئيسية</h4>
    <a href="#">
      <i class="fas fa-home"></i> الرئيسية
    </a>
    <a href="#">
      <i class="fas fa-users"></i> العملاء
    </a>
    <a href="#">
      <i class="fas fa-chart-bar"></i> التمويلات
    </a>
    <a href="#">
      <i class="fas fa-cog"></i> حاسبة التمويل
    </a>
  </div>

  <hr class="divider" />

  <div class="section">
    <h4> شركات البيع المعتمدة</h4>
    <a href="#">
      <i class="fas fa-question-circle"></i> المنشأت
    </a>
    <a href="#" class="active">
      <i class="fas fa-sign-out-alt"></i> الأفراد
    </a>
  </div>

  <hr class="divider" />

  <div class="section">
    <h4> اللإعدادات</h4>
    <a href="#">
      <i class="fas fa-question-circle"></i> الإشعارات
    </a>
    <a href="#">
      <i class="fas fa-sign-out-alt"></i> فريق الدعم
    </a>
    <a href="#">
      <i class="fas fa-sign-out-alt"></i> اللإعدادات
    </a>
  </div>

  <div class="last-section section">
    <hr class="divider" />

    <div class="last-section-content">
      <div class="profile-box">
        <i class="fas fa-user"></i>
      </div>

      <div class="user-info">
        <p class="name">أحمد إبراهيم</p>
        <p class="role">Manager</p>
      </div>

      <div class="logout">
        <i class="fas fa-sign-out-alt"></i>
        تسجيل الخروج
      </div>
    </div>
  </div>

</div>
